# Google Sheets
GOOGLE_SHEETS_PRIVATE_KEY=your_private_key_here
GOOGLE_SHEETS_CLIENT_EMAIL=your_service_account@project.iam.gserviceaccount.com
CUADRECAJA_SPREADSHEET_ID=your_spreadsheet_id_here

# Odoo
ODOO_URL=https://www.onprotec.shop
ODOO_DB=binaural-dev-onprotec-16-release-8815487
ODOO_USERNAME=your_odoo_email@example.com
ODOO_PASSWORD=your_odoo_password

# Server
PORT=3000
NODE_ENV=development
